.Containers_about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10rem;
  flex-wrap: wrap;
  flex: 1;
  margin-top: 2rem;
}

.Container_profile {
  display: flex;
}
.owner_profile {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  justify-content: center;
  height: auto;
  flex: 0.5;
}

.owner_img {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  align-items: center;
}
.half_circle {
  width: 125px;
  height: 225px;
  background-color: #070809;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  transform: translateX(-50px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.profile_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 10px;
  transform: translateY(-210px);
  background-image: url("../../assets/img/samyog.png");
  background-size: cover;
  background-position: center;
}
.owner_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-210px);
  margin: 0px;
  padding: 0px;
}
.owner_name h1 {
  width: 100%;
  justify-content: center;
}
.owner_name p {
  font-size: 2vmax;
  color: var(--white);
}

.Container_details {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  /* backdrop-filter: blur(45%); */
  backdrop-filter: blur(10px); /* Blurred background effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  align-items: center;
  height: auto;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.Container_details p {
  font-size: 1.3vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media (max-width: 600px) {
  .owner_name h1 {
    width: 200%;
    justify-content: center;
  }
  .Container_details {
    flex: 1;
  }
}
