.Containers_about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10rem;
  flex-wrap: wrap;
  flex: 1;
  margin-top: 2rem;
}

.Container_profile {
  display: flex;
}
.owner_profile {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 0.5;
}

.owner_img {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  align-items: center;
}
.half_circle {
  width: 125px;
  height: 225px;
  background-color: #070809;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  transform: translateX(-50px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.profile_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 10px;
  transform: translateY(-210px);
  background-image: url("D:/cafe/website/Buddy's_cafe/src/assets/people/4.png");
  background-size: cover;
  background-position: center;
}
.owner_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-210px);
  margin: 0px;
  padding: 0px;
}
.owner_name h1 {
  width: 70%;
  justify-content: center;
}
.owner_name p {
  font-size: 2vmax;
  color: var(--white);
}

.Container_details {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
