.Container_review {
  display: flex;
  width: 100%;
  height: 100vh;
}

.background {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* Full height of the viewport */
  background-image: url("../../assets/svg/customer.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  padding-bottom: 15px;
  padding-top: 75px;
  align-items: center;
}
.titles h1 {
  display: flex;
  width: 100%;
  height: 15vh;
  align-self: flex-start;
  justify-content: center;
}

.Containers_box {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-left: 25px;
  overflow-x: auto;
  padding: 8px;
}

.container_user {
  display: flex;
  width: 25%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  padding-bottom: 2rem;
  background: rgba(255, 255, 255, 0.5);
  /* backdrop-filter: blur(45%); */
  backdrop-filter: blur(10px); /* Blurred background effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border-radius: 20px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.user_profile {
  margin: 7px;
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
}
.user_name h1 {
  width: 100%;
  color: var(--main-background_color);
  font-size: 2rem;
}

.comment {
  display: flex;
  width: 100%;
  height: 25vh;
  border: solid blur(1px);
  border-radius: 20px;
}

.review_star p {
  display: flex;
  flex-direction: row;
}
.comment p {
  padding: 10px;
}

@media (max-width: 600px) {
  .container_user {
    display: flex;
    width: 50%;
    height: auto;
    flex-direction: column;
  }
  .background {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    background-image: url("../../assets/svg/customer copy.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
  }
}
