.Containers {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  /* background-color: var(--white); */
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  /* backdrop-filter: blur(45%); */
  backdrop-filter: blur(10px); /* Blurred background effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  position: fixed;
  top: 0;
  left: 0;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.header img {
  width: 117px;
  height: 90px;
  background: none;
  mix-blend-mode: multiply;
}

.header_name h1 {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 0px;
  color: var(--main-background_color);
}

.header_name p {
  margin: 0%;
  margin-bottom: 15px;
  font-size: 1rem;
}

.Container_tag {
  display: flex;
}

.header_menu ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-weight: 600;
  font-size: 1.4rem;
  align-items: center;
  font-family: "Righteous", sans-serif;
}

#i {
  font-size: 2rem;
  display: none;
}

.facebook_icone {
  width: 10%;
  color: rgb(23, 23, 238);
}

.instagram_icone {
  width: 10%;
  color: rgb(251, 30, 30);
}

.facebook_icone :hover {
  color: rgb(6, 6, 66);
}
.instagram_icone:hover {
  color: rgb(100, 14, 14);
}

@media (max-width: 650px) {
  .Containers {
    background-color: brown;
  }
  .header_menu ul {
    display: flex;
    display: none;
  }

  #i {
    display: block;
  }
}
