.Containers {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15vh;
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  backdrop-filter: blur(45%);
}

.header {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}

.header img {
  width: 117px;
  height: 90px;
  mix-blend-mode: multiply;
}

.header_name h1 {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: var(--main-background-color);
}

.Container_tag {
  display: flex;
}

.header_menu ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-weight: 600;
  font-size: 1.4rem;
  align-items: center;
}

#i {
  font-size: 2rem;
  display: none;
}

@media (max-width: 650px) {
  .Containers {
    background-color: brown;
  }
  .header_menu ul {
    display: flex;
    display: none;
  }

  #i {
    display: block;
  }
}
