.Container_Memories {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 5px;
  position: relative;
  height: 15rem;
  overflow: hidden;
  mask-image: linear-gradient(to right, rgb(), rgb(), rgb());
}

.Container_Memories .celeb_pic {
  display: flex;
  width: 20%;
  height: auto;
  padding: 10px;
  align-content: center;
  transition: 1s;
  position: absolute;
  left: 80%;
  animation-name: scrollleft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  gap: 25px;
  animation-delay: -30s;
}

.celeb_pic img {
  width: 150%;
  height: auto;
  aspect-ratio: 16/9;
  transition: all 2s;
}
/* .celeb_pic:hover {
  animation-play-state: paused !important;
} */
.celeb_pic img:hover {
  animation-play-state: paused !important;
  width: 200%;
  height: auto;
}

@keyframes scrollleft {
  to {
    left: -90%;
  }
}
@media (max-width: 600px) {
  .Container_Memories {
    width: 100%;
    height: 10rem;
  }
  .celeb_pic img {
    width: 300%;
    height: auto;
    aspect-ratio: 16/9;
  }

  .celeb_pic img:hover {
    animation-play-state: paused !important;
    width: 400%;
    height: auto;
  }
}
