.Containers_menu {
  display: flex;
  flex-direction: column;
}

.container_nav {
  display: flex;
  flex-direction: row;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.menu_type li {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav a {
  display: flex;
  color: black;
  font-family: "Righteous", sans-serif;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

#item {
  display: flex;
  margin-top: 10px;
  font-size: 2rem;
}

#item1 {
  font-size: 3rem;
}

.container_menu {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: 2rem;
}

.row_menu1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 1rem;
  transition: 2s;
}

.row_menu1 img {
  width: 100%;
  border-radius: 20px;
}
.row_menu2 img {
  width: 100%;
  border-radius: 20px;
}

/* .row_menu1:hover {
  width: 200%;
  transform: scale(1.1); Slightly enlarge the div on hover
  cursor: pointer;
  z-index: 1;
} */

.menu_style {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  background-color: rgb(201, 202, 202);
  border-radius: 20px;
  gap: 1rem;
  transition: all 500ms ease-in-out;
}
.menu_style:hover {
  width: 200%;
  /* transform: scale(1.1); Slightly enlarge the div on hover */
  cursor: pointer;
}

.row_menu2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 1rem;
  transition: 2s;
}
