.Container_Popular {
  display: flex;
  width: 20%;
  height: auto;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 7px 7px 35p, -7px -7px 35px #ffffff;
  margin: 5px;
}

.Dish_img {
  margin: 5px 5px 5px 5px;
  width: 100%;
  height: auto;
  border-radius: 20px;
  transition: 0.8s;
}

.Dish_name h1 {
  font-size: 30px;
  font-weight: 600;
  color: var(--main-background_color);
  padding: 0;
  margin: 0 0 25px 0;
}

.Dish_name {
  background-image: url();
}

.Dish_img:hover {
  width: 150%;
  height: 10S0%;
  z-index: 1;
}

.rectangle svg {
  margin: 0;
  padding: 0;
  position: absolute;
}
