.Containers_App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 2rem;
}

.Container_header {
  display: flex;
  width: 100%;
  height: 50vh;
}
h1 {
  width: 40%;
  color: var(--main-background_color);
  margin: 15px 0 0 0;
}

.Desk_pic {
  background: cover;
  width: 100%;
  border-radius: 20px;
}
.Popular {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 5px;
  flex-wrap: wrap;
}

/* .Popular:hover {
  width: 200%;
  height: 50%;
} */

.memories {
  margin-top: 20px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: var(--white);
  height: auto;
  border-radius: 20px;
  padding: 15px;
  overflow: hidden;
  /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3); */
  box-shadow: 7px 7px 35px, -7px -7px 35px #ffffff;
}

.memories h1 {
  display: flex;
  justify-content: center;
  width: 17rem;
  /* transform: translateY(-50px); */
  background-color: black;
  color: var(--white);
  border-radius: 10px;
  z-index: 1000;
}

.About_us {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 5px;
}

.Menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 5px;
}

.Customer_review {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;

  height: auto;
  gap: 10rem;
}

.footer {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: black;
  height: auto;
  gap: 5px;
  margin-bottom: 0.1rem;
}

.footer_name {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 20px;
  align-items: center;
  margin-bottom: 1rem;
}

.footer_name h1 {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .memories h1 {
    width: 16rem;
  }
}
