:root {
  --main-background_color: #f36600;
  --white: #ffffff;
  --grey: #7f7f7f;
  --black: #000000;
}
body {
  margin: 5px 110px 0 110px;
  background-color: var(--main-background_color);
}

@media (max-width: 600) {
  #body {
    margin: 5px;
  }
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

svg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h1 {
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 3rem;
  font-family: "Righteous", sans-serif;
}

h2 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: "Righteous", sans-serif;
  color: var(--main-background_color);
}

p {
  align-items: center;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}
